/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--text-color);
  font-family: var(--main-font-family);
  background-color: var(--background-color);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--text-font-weight);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 25px;
  max-inline-size: var(--component-max-inline-size);
  min-block-size: clamp(20.4375rem, 17.4808rem + 12.6154vw, 23rem);
  margin: 100px auto;
  border: var(--component-border);
  padding-block-end: var(--component-padding);
  font-family: var(--accent-font-family);
  font-size: var(--accent-font-size);
  text-transform: uppercase;
  background-color: var(--background-color);
}

.header__logo-group {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  gap: 20px;
}

.header__title {
  font-weight: 400;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-inline-start: 19px;
}

.theme-menu__button {
  position: relative;
  border: none;
  text-transform: inherit;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -20px;
  inset-block-start: 0;
  animation: disabled-button-animation 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: -4px;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--text-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.content {
  font-size: var(--main-font-size);
}

.content__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  max-inline-size: var(--component-max-inline-size);
  border: var(--component-border);
  background-color: var(--background-color);
}

.card__title {
  border-block-end: var(--component-border);
  padding: 5px 10px;
  font-size: inherit;
  font-variation-settings: 'wght' var(--title-font-weight);
}

.card__cover {
  position: relative;
}

.card__cover-label {
  position: absolute;
  inset-inline-end: var(--component-padding);
  inset-block-start: var(--component-padding);
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font-family);
  font-size: var(--accent-font-size);
  text-shadow: 
    -1px -1px 0 var(--background-color), 
    1px -1px 0 var(--background-color),
    -1px 1px 0 var(--background-color), 
    1px 1px 0 var(--background-color);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--background-color)) {
  .card__cover-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
  }
}

.card__cover-image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-block-start: var(--component-border);
  padding: var(--component-padding);
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 7px;
  padding-inline-end: var(--component-padding);
  padding-block-end: var(--component-padding);
}

.card__icon-button {
  display: flex;
  align-items: end;
  inline-size: 39px;
  block-size: 38px;
  border: none;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: var(--component-border);
  outline-offset: -2px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button {
  position: relative;
  border: var(--component-border);
  font-family: var(--accent-font-family);
  font-size: var(--accent-font-size);
  line-height: 90%;
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--text-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color);
}

.button__text {
  color: var(--hover-button-text-color);
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  justify-content: center;
  margin-block: 50px 100px;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
}

.save-button__icon {
  max-inline-size: 21px;
  max-block-size: 21px;
  color: var(--hover-button-text-color);
  mix-blend-mode: difference;
}

.dialog[open] {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-inline-size: clamp(21.3125rem, 20.1587rem + 4.9231vw, 22.3125rem);
  border: var(--component-border);
  padding: 30px;
  color: inherit;
  background-color: var(--background-color);
}

.dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__content-icon {
  max-inline-size: 39px;
  max-block-size: 39px;
}

.dialog__content-title {
  font-family: var(--accent-font-family);
  font-size: var(--accent-font-size);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  inline-size: 100%;
  min-block-size: 38px;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .card__title {
    padding-block: 3.5px 5.5px;
  }

  .save-button {
    flex-direction: column;
  }

  .save-button__icon {
    max-inline-size: 28px;
    max-block-size: 28px;
  }

  .dialog[open] {
    padding-inline: 40px;
  }
}

.brightness {
  filter: brightness(50%);
}

.contrast {
  filter: contrast(80%);
}

.blur {
  filter: blur(0.1rem);
}

.opacity {
  filter: opacity(70%);
}

.grayscale {
  filter: grayscale(0.5);
}

.saturate {
  filter: saturate(130%);
}

.hue-rotate {
  filter: hue-rotate(-30deg) sepia(50%);
}